{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="BoardChess" content="" />
        <title>BoardChess</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <script type="text/javascript" src="{% static 'javascript/fetch_alias.js' %}" ></script>
        <script type="text/javascript" src="{% static 'javascript/chessboard.js' %}" ></script>
        <script type="text/javascript" src="{% static 'javascript/core.js' %}" ></script>
    </head>
    <body>
        <div class="titles">
            <div class="shadow p-3 mb-5 bg-body rounded">BraviChess ;-)</div>
        <div class="row">
            <div class="col-8" align="center">
                <div style="margin: 10px;" id="alert_message_board"></div>
                <div id="board"></div>
            </div>
            <div class="col-4">
                <div style="padding: 10px; padding-top: 0px;">
                    <div class="accordion" id="accordionPanels" style="margin: 10px;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-add-piece" aria-expanded="true" aria-controls="panelsStayOpen-add-piece">
                                    Add piece in the board
                                </button>
                            </h2>
                            <div id="panelsStayOpen-add-piece" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div id="alert_add_piece"></div>
                                    <form id="addpiece_form">
                                        <div class="row">
                                            <div style="padding: 5px;" class="col-6">
                                                <label for="name_piece"><b>Piece:</b> </label>
                                                <select name="name_piece" id="name_piece">
                                                    <option value="king">KING</option>
                                                    <option value="queen">QUEEN</option>
                                                    <option value="rock">ROCK</option>
                                                    <option value="bishop">BISHOP</option>
                                                    <option value="knight">KNIGHT</option>
                                                    <option value="pawn">PAWN</option>
                                                </select>
                                            </div>
                                            <div style="padding: 5px;" class="col-6">
                                                <label for="piece_color"><b>Color:</b> </label>
                                                <select name="piece_color" id="piece_color">
                                                    <option value="black">BLACK</option>
                                                    <option value="white">WHITE</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style="padding: 5px;" class="col-6">
                                                <label for="horizontal_position"><b>Horizontal:</b> </label>
                                                <select name="horizontal_position" id="horizontal_position">
                                                </select>
                                            </div>
                                            <div style="padding: 5px;" class="col-6">
                                                <label for="vertical_position"><b>Vertical:</b> </label>
                                                <select name="vertical_position" id="vertical_position">
                                                </select>
                                            </div>
                                        </div>
                                        <div style="padding: 10px;" align="center">
                                            <button type="button" class="btn btn-primary" onClick="add_piece();">Add Piece</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="accordion" id="accordionPanels" style="margin: 10px;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-create-new-game" aria-expanded="true" aria-controls="panelsStayOpen-create-new-game">
                                    Start New Game
                                </button>
                            </h2>
                            <div id="panelsStayOpen-create-new-game" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <div id="alert_add_new_game"></div>
                                    <strong>Create a new game.</strong> Type the game name and number of rows of the board, then after, press the "Go" button.
                                    <form id="create_new_game">
                                        <div style="padding: 10px;">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="addon-wrapping">Game Name: </span>
                                                <input id="name_new_game" type="text" class="form-control" placeholder="First Game" aria-label="Game name" aria-describedby="addon-wrapping">
                                            </div>
                                        </div>
                                        <div style="padding: 10px;">
                                            <div class="input-group flex-nowrap">
                                                <span class="input-group-text" id="addon-wrapping">Number Rows: </span>
                                                <input id="number_rows_columns_new_game" type="number" class="form-control" placeholder="8" min="8" max="14" aria-label="Number" aria-describedby="addon-wrapping">
                                            </div>
                                        </div>
                                        <div style="padding: 10px;" align="center">
                                            <button type="button" class="btn btn-success" onClick="create_new_game();">Go</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="padding: 10px;">
                    <div class="accordion" id="accordionPanels" style="margin: 10px;">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-games-saved" aria-expanded="true" aria-controls="panelsStayOpen-games-saved">
                                    Select a game
                                </button>
                            </h2>
                            <div id="panelsStayOpen-games-saved" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div align="center">
                                    <div class="accordion-body">
                                        <div id="alert_games_list"></div>
                                        <select name="games_list" id="games_list" onChange="selectGame(this.value)">
                                        <option />
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>