body {
    user-select: none;
}

.titles {
    color: #000;
}

.chessboard {
    margin: 10px;
    border: 8px solid #333;
}

.black {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #999;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.white {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #fff;
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}

.tag {
    float: left;
    width: 60px;
    height: 60px;
    background-color: rgb(250, 250, 250);
    font-size:50px;
    text-align:center;
    display: table-cell;
    vertical-align:middle;
}


.black:hover {
    border: 1px solid #000;
}

.white:hover {
    border: 1px solid #000;
}